.formCaptcha {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 300px;
}
.captcha {
 display: grid;
 grid-template-columns: repeat(2, 150px);
 grid-template-rows: repeat(2, 150px);
}

img {
    width: 150px;
}

